@use 'utils';

.crypto-pro {
  &__title {
    margin-bottom: 24px;
  }
  &__subtitle {
    margin-bottom: 26.5px;
  }
  display: flex;
  flex-direction: column;
  @include utils.media('tablet-wide') {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

&__content {
  margin-bottom: 53.5px;
  @include utils.media('tablet-wide') {
    max-width: 498px;
    width: 100%;
  }
}
&__img {
  width: 313px;
  height: 313px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/src/assets/svg/converter-once.svg);
  background-repeat: no-repeat;
  background-size: cover;
  @include utils.media('tablet-wide') {
    width: 440px;
    height: 480px;
    margin-left: 0;
    margin-right: 0;
  }
}
}