@use "utils";

.hero-section {
  padding-top: 75px;
  height: 100%;
  @include utils.media("tablet-wide") {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 203px;
  }
  &__content {
    padding-left: 16px;
    @include utils.media("tablet-wide") {
      padding-left: 16px;
    }
    @include utils.media("desktop") {
      padding-left: calc(50% - 610px);
    }
  }

  &__title {
    margin-bottom: 24px;
    white-space: nowrap;
  }
  &__subtitle {
    margin-bottom: 48px;
    max-width: 400px;
  }
  &__wrapper-img {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 64px;
    padding-bottom: 173px;
    display: flex;
    justify-content: flex-end;

    @include utils.media("tablet-wide") {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &__grafic {
    width: 100%;
    height: 100%;
    transform: translateX(-1000vw);
    animation: fadeIn-grafic;
    opacity: 0;
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }
  &__bitcoin {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 415px;
    left: 333px;
    animation: fadeIn;
    opacity: 0;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
    @include utils.media("phone-wide") {
      top: 544px;
      left: 468px; //
    }
    @include utils.media("tablet-small") {
      top: 664px;
      left: 580px; //
    }
    @include utils.media("tablet") {
      top: 762px;
      left: 755px; //
    }
    @include utils.media("tablet-wide") {
      top: 617px;
      left: 408px;
      width: 100px;
      height: 100px; //
    }
    @include utils.media("desktop-wide") {
      top: 935px;
      left: 610px;
    }
    @include utils.media("tv-medium") {
      opacity: 0;
      z-index: -10;
    }
  }
  &__ethereum {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 171px;
    left: 0;
    animation: fadeIn;
    opacity: 0;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-fill-mode: both;
    @include utils.media("phone-wide") {
      top: 250px;
      left: 10px;
    }
    @include utils.media("tablet-small") {
      top: 350px; //
    }
    @include utils.media("tablet") {
      top: 748px; //
    }
    @include utils.media("tablet-wide") {
      width: 100px;
      height: 100px;
      top: 502px;
      left: -415px; //
    }
    @include utils.media("desktop-wide") {
      top: 585px;
      left: -602px;
    }
    @include utils.media("tv-medium") {
      opacity: 0;
      z-index: -10;
    }
  }
  &__line {
    width: 780px;
    height: 278px;
    position: absolute;
    top: 185px;
    left: -238px;
    z-index: -1;
    animation: fadeIn-line;
    opacity: 0;
    animation-duration: 2s;
    animation-delay: 1.3s;
    animation-fill-mode: both;

    @include utils.media("phone-wide") {
      width: 955px;
      height: 362px;
      top: 241px;
      left: -233px;
    }
    @include utils.media("tablet-small") {
      width: 1053px;
      height: 409px;
      top: 321px;
      left: -233px;
    }
    @include utils.media("tablet") {
      width: 1200px;
      height: 405px;
      top: 505px;
      left: -3px; //
    }
    @include utils.media("tablet-wide") {
      width: 1553.5px;
      height: 470.7px;
      top: 330.6px;
      left: -563px; //
    }
    @include utils.media("desktop-wide") {
      width: 2400px;
      height: 503.7px;
      top: 538.6px;
      left: -1088px;
    }
    @include utils.media("tv-medium") {
      opacity: 0;
      z-index: -10;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn-grafic {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }

  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn-line {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
