@use "utils";

#tabs-view div {
  display: none;
}
#tabs-view .active {
  display: block;
}
.tools__text {
  position: relative;
}
.tools__text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 35px;
  left: 0;
  background: linear-gradient(91.27deg, #618dff 0%, #05d7e4 100%);
  transition: all 0.3s ease;
  border-radius: 2px;
  opacity: 0;
}
.active::after {
  opacity: 1;
}

.tools {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  @include utils.media("tablet") {
    max-width: calc(121px + 132px + 90px + 199px);
  }

  &__text {
    @include utils.text(utils.rem(16px), 700, utils.$color-white, 19px);
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: all 0.4s ease;
    &:hover {
      background: utils.$gradient-title;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  &__img {
    animation-name: slide;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
  }
  &__img img {
    width: 100%;
    height: 100%;
  }
  &__tablet-line {
    display: none;
    @include utils.media("desktop") {
      display: block;
      width: 816px;
      height: 1px;
      background-color: utils.$color-grey-4;
      margin-left: auto;
      margin-right: auto;
      margin-top: -9px;
      margin-bottom: 24px;
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  85% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
