@use 'utils';

.tools {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  @include utils.media ('tablet') {
    max-width: calc(121px + 132px + 90px + 199px);
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    cursor: pointer;

    &:checked + .tools__line {
      opacity: 1;
    }
  }
  &__line {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 2px;
    top: 33px;
    left: 0;
    background: linear-gradient(91.27deg, #618DFF 0%, #05D7E4 100%);
    transition: all .3s ease;
    border-radius: 2px;
  }
  &__text {
    @include utils.text(utils.rem(16px), 700, utils.$color-white, 19px);
  }
  &__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 160px;
    width: 375px;
    height: 206px;
    background-image: url(/src/assets/svg/key-features.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include utils.media('phone') {
      width: 383px;
      height: 225px;
    }
    @include utils.media('phone-wide') {
      width: 470px;
      height: 266px;
    }
    @include utils.media('tablet-small') {
      width: 640px;
      height: 361px;
    }
    @include utils.media('tablet') {
      width: 767px;
      height: 429px;
    }
    @include utils.media('tablet-medium') {
      width: 856px;
      height: 488px;
    }
    @include utils.media('tablet-wide') {
      width: 1017px;
      height: 557px;
    }
    @include utils.media('desktop') {
      width: 1237px;
      height: 684px;
    }
    @include utils.media('desktop-wide') {
      width: 1436px;
      height: 790px;
    }
  }
  &__tablet-line {
    display: none;
    @include utils.media('desktop') {
      display: block;
      width: 816px;
      height: 1px;
      background-color: utils.$color-grey-4;
      margin-left: auto;
      margin-right: auto;
      margin-top: -9px;
      margin-bottom: 24px;
    }
  }
}